<nav class="bg-black text-white py-4 px-1 md:px-10 flex justify-between items-center rounded-[20px] mx-2 my-1">
  <div class="flex items-center">
    <img src="assets/mainLogo.png" alt="Logo" class="h-10 mr-3" />
    <span class="md:text-2xl text-sm font-bold">AngularPulse</span>
  </div>
  <div class="flex space-x-8 text-[13px]">
    <a routerLink="workout-form" class="hover:text-gray-200 transition duration-300 cursor-pointer p-2">Create Workout</a>
    <a routerLink="workout-list" class="hover:text-gray-200 transition duration-300 cursor-pointer p-2">Show Workouts</a>
    <a routerLink="user-chart" class="hover:text-gray-200 transition duration-300 cursor-pointer p-2">User Chart</a>
    <!-- Add conditional rendering for user -->
  </div>
</nav>