<div
  class="min-h-screen bg-gradient-to-r from-gray-100 via-white to-gray-50 text-gray-800 flex flex-col"
  style="position: relative; overflow: hidden"
>
  <div
    class="w-7 h-7 text-center bg-transparent cursor absolute z-50 pointer-events-none text-[8px] flex items-center justify-center rounded-[20px]"
    style="overflow: hidden"
  >
    <!-- <p>Cook</p> -->
  </div>
  <main class="flex-grow rounded-[20px] overflow-hidden">
    <section id="home" class="bg-cover bg-center relative h-screen bg-fixed cursor-pointer home overflow-hidden animateBg" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/landingPage.avif');
    background-size: cover; background-position: center; background-attachment: fixed;">
      <div
        class="relative z-10 bg-[#00000029] h-screen w-full justify-center items-center flex flex-col text-center"
      >
        <h2
          class="text-5xl font-extrabold mb-6 text-white drop-shadow-lg animate-fade-in"
          style="animation-duration: 2s; animation-timing-function: ease-in-out"
        >
          "Welcome to AngularPulse - The Fastest, Free Health Challenge Tracker
          !"
        </h2>
        <p
          class="text-xl mb-8 max-w-2xl mx-auto text-white opacity-90 animate-fade-in delay-200"
          style="animation-duration: 2s; animation-timing-function: ease-in-out"
        >
          Track Your Workouts. Crush Your Goals. No Signup Required.
        </p>
        <p
          class="text-xl mb-8 max-w-2xl mx-auto text-white opacity-90 animate-fade-in delay-200"
          style="animation-duration: 2s; animation-timing-function: ease-in-out"
        ></p>
        <p
          class="text-xl mb-8 max-w-2xl mx-auto text-white opacity-90 animate-fade-in delay-200"
          style="animation-duration: 2s; animation-timing-function: ease-in-out"
        >
          Say goodbye to complicated setups and lengthy signups.
          <b>AngularPulse</b> is here to help you create, track, and conquer
          your fitness challenges instantly –
          <b>100% free, secure, and hassle-free.</b>
        </p>

        <a
          routerLink="/workout-form"
          class="bg-white text-black px-8 py-4 rounded-full font-bold text-lg hover:bg-green-500 hover:text-white duration-300"
        >
          Start Challenge
        </a>
      </div>
    </section>
    <section
      id="about"
      class="bg-gradient-to-b from-gray-50 to-gray-100 rounded-[20px] overflow-hidden text-gray-800"
    >
      <div
        class="rounded-[10px] mx-auto bg-gradient-to-b from-gray-50 to-white overflow-hidden shadow-xl"
      >
        <h2
          class="text-5xl font-extrabold text-gray-800 mb-16 text-center pt-10 animate-fade-in"
          style="animation-duration: 2s; animation-timing-function: ease-in-out"
        >
          About Us
        </h2>
        <div class="bg-cover bg-center relative h-screen bg-fixed cursor-pointer home overflow-hidden animateBg " style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/landingPage.avif');
    background-size: cover; background-position: center; background-attachment: fixed;">
          <div
            class="bg-opacity-40 h-screen flex items-center justify-center p-10 rounded-lg"
          >
            <div 
              class="lg:w-1/2 text-[18px] leading-relaxed text-white space-y-6 animate-fade-in absolute left-10 top-10" 
              style="
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
              "
            >
              <p class="text-2xl font-bold">
                WHY <span class="font-extrabold">AngularPulse ?</span>
              </p>
              <ul>
                <li class="pb-4">
                  1. Instant Access, No Signup Needed Start tracking your health
                  challenges in seconds. No emails, no passwords, no waiting –
                  just open the app and go!
                </li>
                <li class="pb-4">
                  2. Create Custom Workout Challenges Design your own challenges
                  tailored to your fitness goals. Whether it’s a 30-day cardio
                  blast or a strength-building plan, you’re in control.
                </li>
                <li class="pb-4">
                  3. Track Progress with Stunning Charts Visualize your progress
                  with easy-to-read charts and graphs. See how far you’ve come
                  and stay motivated to push further.
                </li>
                <li class="pb-4">
                  4. Fast, Secure, and Always Free We believe fitness should be
                  accessible to everyone. That’s why [Your App Name] is free to
                  use, secure, and built for speed.
                </li>
                <li class="pb-4">
                  5. No Commitment, No Strings Attached Use it when you need it,
                  as often as you want. No subscriptions, no hidden fees – just
                  pure fitness tracking.
                </li>
              </ul>
            </div>
            <div class="text- leading-relaxed text-[20px] text-white space-y-6 animate-fade-in absolute right-10 bottom-32" style="animation-duration: 2s; animation-timing-function: ease-in-out ">
              <p class="font-bold text-[20px]">How It Works</p>
              <ul>
                <li class=" list-disc">Open the App</li>
                <li class=" list-disc">Create Your Challenge</li>
                <li class=" list-disc">Track Your Progress</li>
                <li class=" list-disc">Achieve Your Goals</li>
              </ul>
            </div>
              <div class="absolute bottom-5 text-white animate-fade-in" style="animation-duration: 2s; animation-timing-function: ease-in-out">
              <p class = "text-[20px]">
                With AngularPulse , achieving your health goals has never been
                easier. Fast, free, and designed for you – start tracking today
                and see the difference!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="py-20 text-center bg-white">
      <h2
        class="text-4xl font-bold mb-6 text-black animate-fade-in"
        style="animation-duration: 2s; animation-timing-function: ease-in-out"
      >
        Get Started Instantly
        <p class=" pb-4 "> WITH US !!</p>
      </h2>
      <div class="flex flex-wrap justify-center gap-20"></div>
    </section>
  </main>
</div>
