<div>
  <mat-form-field class="w-full mt-2">
    <mat-select [(ngModel)]="selectedWorkoutType" (selectionChange)="onFilter()" placeholder="Filter by Workout Type">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let type of getUniqueWorkoutTypes()" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <table mat-table [dataSource]="paginatedData" class="mat-elevation-z8 w-full mt-4">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
    </ng-container>
    
    <ng-container matColumnDef="workouts">
      <th mat-header-cell *matHeaderCellDef> Workouts </th>
      <td mat-cell *matCellDef="let user"> {{ getWorkoutTypes(user) }} </td>
    </ng-container>
    
    <ng-container matColumnDef="numWorkouts">
      <th mat-header-cell *matHeaderCellDef> Number of Workouts </th>
      <td mat-cell *matCellDef="let user"> {{ getNumberOfWorkouts(user) }} </td>
    </ng-container>
    
    <ng-container matColumnDef="minutes">
      <th mat-header-cell *matHeaderCellDef> Minutes </th>
      <td mat-cell *matCellDef="let user"> {{ getTotalMinutes(user) }} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [length]="filteredData.length" [pageSize]="itemsPerPage" (page)="changePage($event)">
  </mat-paginator>
</div>